*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*GLOBAL*/
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 60px;
}
.navbar {
    height: 100px;
    font-size: 25px;
}
.nav-item {
    color: blanchedalmond;
}
.navbar:hover {
    cursor: pointer;
}
.mainFrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}
@keyframes frase-main {
    0% {
        background-color: grey;
        color: white;
    }
    50% {
        background-color: white;
        color: black;
    }
    100% {
        background-color: black;
        color: white;
    }
}
.mainFrase {
    animation: frase-main 2s linear 1s infinite;
}

.mainImagen img {
    width: 100%;
    height: auto;
    align-content: center;
}

#footer {
    padding: 10px;
    margin-bottom: 10px;
}
.redes a {
    text-decoration: none;
}
.copy {
    display: inline-block;
    float: right;
}


/*HOME*/
#home {
    background-image: url(../img/Home.jpg);
    background-size: cover;
    padding: 150px 30px;
}
.descripcionHome {
    padding: 40px 20px;
    margin-bottom: 30px;
    margin-left: 450px;
    margin-right: 40px;
    font-size: 30px;
    color: rgb(223, 223, 223);
}

/*SERIE*/
#serie {
    padding: 20px 30px;
}
.sinopsisSerie {
    margin: 10px 20px 30px 20px;
    font-size: 20px;
}
#elenco {
    display: flex;
    padding: 200px 30px 30px 30px;
    margin-top: 100px;
    flex-direction: row;
}
.tituloElenco {
    text-align: left;
    font-size: 30px;
}
.listaElenco {
    margin: 10px 20px;
    font-size: 18px;
    text-align: left;
}
.imagenElenco img {
    width: 100%;
    height: auto;
    margin: 10px 20px;
    justify-content: flex-end;
    align-items: flex-end;
}
#temporadas {
    padding: 10px 20px;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 15px;
}
#temporadas iframe {
    width: 350px;
}

/*NEWS*/

/*LIBROS*/
#libro {
    display: flex;
    padding: 20px 30px ;
    flex-direction: row-reverse;
}
#libro .descripcionLibro p {
    margin: 0px 20px;
    font-size: 20px;
    text-align: left;
}
#libro .imagenAutor img {
    margin: 0px 10px;
    width: 100%;
    height: auto;
    border: 1px solid black;
}
.container {
    padding: 200px 30px 30px 30px;

}
.tituloLibro {
    margin: 50px 30px 0px 30px;
    font-size: 30px;
}
.listaLibro {
    font-size: 25px;
    margin: 40px 30px;
    width: 400px;
}
.col-lg-6 img {
    width: 100%;
    height: auto;
}

/*JUEGO*/
#juego {
    padding: 10px 20px;
}
.descripcionJuego {
    margin: 10px 20px;
    font-size: 20px;
}
.historiaJuego {
    text-align: left;
    margin: 10px 20px;
    font-size: 25px;
}
.descripcionHistoria {
    margin: 10px 20px;
    font-size: 18px;
}
#carouselExampleControls{
    padding: 300px 30px 30px 30px;
    margin: 10px 20px;
}
.carousel-item iframe{
    width: 100%;
}

/*MEDIA*/

@media (max-width: 768px) {
    .mainFrase {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }
}


/*MEDIA home*/
@media (max-width: 768px) {
    .descripcionHome {
        padding: 20px 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 15px;
    }
}
/*MEDIA libros*/
@media (max-width: 1024px) {
    #libro .descripcionLibro p {
        margin: 10px 20px 0px 20px;
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    #libro {
        padding: 10px 10px ;
    }
}

/*MEDIA juego*/
@media (max-width: 768px) {
    #carouselExampleControls{
        padding: 500px 30px 30px 30px;
        margin: 10px 20px;
    }
}

/*MEDIA serie*/
@media (max-width: 768px) {
    #temporadas iframe {
        width: 150px;
    }
}
@media (max-width: 1024px) {
    #elenco {
        display: flex;
        margin-top: 200px;
        flex-direction: row;
    }
}
@media (max-width: 1024px) {
    .imagenElenco img {
    display:none;
    }
}

/*MEDIA news*/
@media (max-width: 768px) {
    #formulario {
        padding: 0px 20px 100px 20px;
        font-size: 15px;
    }
}