#home {
    background-image: url(../img/Home.jpg);
    background-size: cover;
    padding: 150px 30px;
    .descripcionHome {
        padding: 40px 20px;
        margin-bottom: 30px;
        margin-left: 450px;
        margin-right: 50px;
        font-size: 30px;
        color: rgb(223, 223, 223);
    }
}


