/*MEDIA home*/
@media (max-width: 940px) {
    .descripcionHome {
display: none;
        }
}

/*MEDIA serie*/
@media (max-width: $mobile) {
    #serie .sinopsisSerie {
        font-size: 20px;
    }
}
@media (max-width: $mobile) {
    #elenco {
        padding: 650px 30px 0px 30px;
        margin: 60px 0px;
    } 
}
@media (max-width: 950px) {
    .imagenElenco img {
        display: none;
    }
}
@media (max-width: 950px) {
    #elenco {
        padding: 350px 30px 0px 30px;
        margin: 50px 0px;
    } 
}

/*MEDIA libros*/
@media (max-width: $mobile) {
    #libro .descripcionLibro p {
        margin: 10px 20px 0px 20px;
        font-size: 15px;
    }
}
@media (max-width: $tablet) {
    #libro {
        padding: 10px 10px ;
    }
}

/*MEDIA juego*/
@media (max-width: $tablet) {
    #carouselExampleControls{
        padding: 600px 30px 30px 30px;
        margin: 10px 20px;
    }
}
