
#bodyNews {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr 300px 60px;
    .formulario {
        padding: 20px 30px;
    }
}

@mixin btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 30px;
    font-family: sans-serif;
    background-color: rgb(41, 40, 40);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.btnReset {
    @include btn;
    }