#serie {
    padding: 20px 30px;
    .sinopsisSerie {
        margin: 10px 50px;
        font-size: 20px;
    }
}

#elenco {
    display: flex;
    padding: 150px 50px 0px 30px;
    margin: 50px 50px;
    flex-direction: row;
    gap: 150px;
    .tituloElenco {
        font-size: 30px;
    }
    .list-group{
        margin: 0px 50px;
    }
    .imagenElenco img {
        width: 70%;
        height: auto;
    }
}


